<nav class="navbar-inverse" data-topbar role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">TP web</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle=""dropdown>
                    Produits
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('produit.show') }}">afficher les produits</a>
                    </li>
                    <li>
                        <a href="{#{ path('produit.search') }#}">rechercher un produit</a>
                    </li>
                </ul>
            </li>
            <li><a href="{{ path('panier.show') }}">panier</a>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle=""dropdown>
                    Mon Compte
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{#{ path('Commande.showAll') }#}">mes commandes</a></li>
                    <li><a href="#">mes coordonnées</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
			{% if    app.user is defined %}
                <li><a href="{{ path('fos_user_security_logout') }}" > Se déconnecter</a></li>
			{% else %}
                <li><a href="{{ path('fos_user_security_login')  }}">Se connecter</a></li>
                <li><a href="{{ path('fos_user_registration_register')  }}">S'enregistrer</a></li>
			{% endif %}
        </ul>
    </div>
</nav>