{% extends "projet2sdvBundle::layout.html.twig" %}
{% block contenu %}
	<div class="row">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn btn-default">test</button>
				<span>5</span>
				<button class="btn btn-default">test</button>
			</div>
		</div>
		<table>
			<caption>Recapitulatifs du panier</caption>
			<thead>
			<tr>
				<th>nom</th>
				<th>type</th>
				<th>Quantité</th>
				<th>Prix Total</th>
				<th>photo</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			{% for panier in data if data is not empty %}

				<tr>
					<td>{{panier.Produit.nom}}</td>
					<td>{{panier.Produit.typeProduit.libelle}}</td>
					<td>{{ panier.quantite }}</td>
					<td>{{panier.prix}}</td>
					<td>
						<img style="width:40px;height:40px" src="{{asset('images/')}}{{panier.Produit.photo}}" alt="image de {{panier.Produit.nom}}" >
					</td>
					<td>
						<a href="{{ path('panier.addProduct', {id: panier.Produit.id}) }}">Ajouter au panier</a>
						{#<a href="{{ path('panier.removeProduct', {id: panier.Produit.id}) }}">Retirer du panier</a>#}
					</td>
				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

