{% extends "projet2sdvBundle::layout.html.twig" %}
{% block contenu %}
    <div class="well">
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.Nom) }}
		{{ form_row(form.Prix) }}
		{{ form_row(form.Image) }}
		{{ form_row(form.TypeProduit) }}
	{% block edit %}
		{{ form_rest(form) }}
		{{ form_end(form) }}
    {% endblock %}
    </div>
{% endblock %}
