{% extends "projet2sdvBundle::layout.html.twig" %}
{% block contenu %}
	<div class="container">
		{% if is_granted('ROLE_ADMIN') %}
			<div class="text">
				<a href="{{ path('produit.add') }}"> Ajouter un produit </a>
			</div>
		{% endif %}
		<div class="table-responsive">
			<table class="table table-striped">
				<caption class="text">Recapitulatifs des Véhicules</caption>
				<thead>
				<tr>
					<th>Nom du véhicule</th>
					<th>Type de véhicule</th>
					<th>Prix</th>
					<th>Photo</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th>Opération</th>
					{% endif %}
					{% if not is_granted('ROLE_ADMIN') %}
						<th>Action</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for produit in data if data is not empty %}
					<tr>
						<td>{{ produit.nom }}</td>
						<td>{{produit.typeProduit.libelle}}</td>
						<td>{{produit.prix}}</td>
						<td>
							<img width="100px;" height="20px;" class="img-responsive img-thumbnail" src="{{ asset(produit.image.webPath) }}" alt="{{ produit.image.alt }}" >
						</td>
						{%  if   is_granted('ROLE_ADMIN') %}
							<td>
								<a href="{{ path('produit.edit', {id: produit.id}) }}"><span class="text glyphicon glyphicon-pencil"></span></a>
								<a href="{{ path('produit.delete', {id: produit.id}) }}"><span class="text glyphicon glyphicon-remove"></span></a>
							</td>
						{% endif %}
						{% if not is_granted('ROLE_ADMIN') %}
							<td>
								<a href="{{ path('panier.addProduct', {id: produit.id}) }}"><span class="text glyphicon glyphicon-shopping-cart"></span></a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
				<tbody>
			</table>
		</div>
		<ul class="pagination">
			{% for i in range(1, nbPage) %}
				<li {% if i == currentPage %} class="active" {% endif %}>
					<a href="{{ path('produit.show', {'page': i}) }}">{{ i }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

